---
# BOSH Director must have Cloud Config with the following properties:
# - vm_type: tiny
# - network: manual

name: dummy

releases:
- name: dummy
  url: file://./dummy-deployment/dummy-2.tgz
  # version: latest

stemcells:
- alias: ubuntu
  os: ubuntu-xenial
  version: latest

instance_groups:
- name: dummy
  instances: 1
  vm_type: lite
  stemcell: ubuntu
  networks:
  - name: dynamic
  jobs:
  - name: dummy
    release: dummy

update:
  canaries: 1
  max_in_flight: 6
  serial: false
  canary_watch_time: 1000-60000
  update_watch_time: 1000-60000